// _sass/minima/_colors.scss

// Dark mode colors
$base-font-color: #ddd; // Adjust as needed
$background-color: #333; // Adjust as needed
$link-color: #6cc644; // Adjust as needed
$link-hover-color: #8ae234; // Adjust as needed

